<div>
    <div style="width:100%;height:300px;
      background-color: #fb6330;;position:absolute;margin-top: -39px;">
      <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 13.8%;">
          <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
          <span routerLink="/branding-digital" class="crumbModulo">Branding digital > </span>
          <span routerLink="/branding-digital-servicio" class="crumbModulo">Servicio > </span>
          <span routerLink="/branding-digital-formulario" class="crumbModulo">Programar mi asesoría > </span>
          <span routerLink="/branding-digital-agenda" class="crumbModulo"><b>Agenda</b></span>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 offset-md-1 col-sm-12 offset-sm-0"></div>
      <div class="col-lg-6 col-md-6 offset-md-1 col-sm-12 offset-sm-0">
        <h1 class="tituloModulo">Branding digital</h1>
      </div>
    </div>
    <!-- <div class="content" style="padding-top: 110px;background-color: #f6f8fa">
      <section class="col-lg-8 col-md-12 mb-5 mt-5" style="margin:auto">
        
      </section>
    </div> -->
    <section class="content">
        <div class="container-fluid">
            <div class="row" style="padding-top: 190px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 col-md-12 mt-5 mb-5 pad-calendar-mov">
                            <div class="card card-outline">
                                <div class="card-header" style="padding:6%">
                                    <app-scheduling-itt typeSchedule="2043" module="Branding"></app-scheduling-itt>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
