<div *ngIf="count==0">
    <div class="d-block d-xl-none d-lg-none imgMovil" style="width:100%;height:600px;
            margin-top: -39px;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
            <div style="margin-left: 12.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo" routerLink="/preparar-entrevistas" [queryParams]="{p: 0}"><b>Prepara
                        entrevistas</b></span>
            </div>
        </div>
        <div class="col-lg-10 col-md-6 offset-md-1 col-sm-12 offset-sm-0">
            <h1 class="tituloModulo">“Sácala del estadio” en <br>
                una entrevista laboral </h1>
        </div>
    </div>
    <div class="d-none d-lg-block" style="width:100%;height:499px;
    background-image: url('assets/img/desempleo2/entreview/entreview.png'), linear-gradient(90deg, #7849b8 50%,  #afa8f6 50%);
    background-position: right 350px bottom, right bottom;
    background-repeat: no-repeat,no-repeat;
    margin-top: -39px;
    background-size: 284px 402px, contain;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
            <div style="margin-left: 10.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo" routerLink="/preparar-entrevistas"><b>Prepara entrevistas </b></span>
            </div>
        </div>
        <h1 class="tituloModulo">“Sácala del estadio” en <br>
            una entrevista laboral </h1>
        <button *ngIf="login.isActive()" class="btnPurple" style="margin-top: 55px; margin-left:10%;"
            routerLink="/prueba-psicologica"
            (click)="AddLog('preparar-entrevistas','Ingresó a página quiero prepararme')" [queryParams]="{p: 0}">Prepara
            entrevistas </button>
        <button *ngIf="!login.isActive()" class="btnPurple" style="margin-top: 55px; margin-left:10%;"
            (click)="login.goLogin()">Quiero unirme </button>
    </div>
    <div class="container">
        <div class="row m-4">
            <div class="social-cont">
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://ecodesascco.grupomok.com.co/curriculumhome"
                                target="_blank" class="icon-facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://twitter.com/share?url=http://ecodesascco.grupomok.com.co" target="_blank"
                                class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ecodesascco.grupomok.com.co"
                                target="_blank" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <h2 class="font-weight-bold text-secondary text-left mt-5 mb-5">¡La práctica hace al maestro!
                        </h2>
                        <p>Si estás interesado/a en mejorar tu habilidades y destrezas para llevar con éxito las pruebas
                            y entrevistas en un proceso de selección, este servicio es perfecto para ti. </p>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div style="width:100%;" class="text-center">

                    <iframe class="mt-4" style="max-width:988px;width:100%;height: 555px;border: 0px"
                        src="https://player.vimeo.com/video/373927602">
                    </iframe>
                </div>
                <app-video-material tipoMateriales="des_curriculumhome"></app-video-material>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <p>Una vez te registres, podrás hacer una simulación de una prueba de selección completa y medir
                            tu capacidad en la toma de decisiones, evaluar tus hablidades numericas, así como tus
                            niveles de comprensión.</p>

                        <p>Pero eso no es todo, si quieres ser inolviable en una entrevista laboral, agenda una cita
                            con un experto, que él te ayudará a proyectarte profesionalmente.</p>
                        <div style="width:100%;border-top: 1px solid lightgray;" class="pt-4 mt-5 mb-5">
                        </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-md-12 text-center">
                        <p>Úsalo cuantas veces quieras y proyéctate una meta de crecimiento profesional.</p>
                    </div>
                    <div class="col-md-12 text-center mt-3 mb-5">
                        <button *ngIf="!login.isActive()" class="btnMain" (click)="login.goLogin()">Quiero unirme
                        </button>
                        <button *ngIf="login.isActive()" class="btnMain"
                            (click)="AddLog('preparar-entrevistas','Ingresó a página quiero prepararme')"
                            routerLink="/prueba-psicologica" [queryParams]="{p: 0}">Prepara entrevistas </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-interest-material tipoMateriales="des_entreview"></app-interest-material>
    <div class="container d-block d-xl-none d-lg-none quieroUnirmeMovile" (click)="login.goLogin()"
        *ngIf="!login.isActive()">
        <p><i class="icon-Login iconSize"></i>&nbsp;&nbsp;&nbsp;Quiero unirme</p>
    </div>
</div>