<app-block-loader [blocked]="loader"></app-block-loader>

<div >
    <div class="d-block d-xl-none d-lg-none imgMovil" style="width:100%;height:600px;
            margin-top: -39px;">
        <!-- <div style="width:100%;height:300px;
        background: url('assets/img/digital-branding/fondoDigitalBranding.png') no-repeat left bottom, linear-gradient(256deg, #8bd15a, #448019);
        ;position:absolute;margin-top: -39px;"> -->
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
            <div style="margin-left: 19.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo" routerLink="/joboffers"><b>Conoce ofertas laborales</b></span>
            </div>
        </div>
        <h1 class="tituloModulo">¿Buscas nuevas <br> oportunidades? </h1>
        <!-- <button *ngIf="login.isActive()" class="btnTop2" style="margin-top: 55px; margin-left:17.5%;" (click)="increment()">MEJORAR MI HOJA DE VIDA <i style="color:#ffb400" class="fa fa-angle-right"></i></button>
            <button *ngIf="!login.isActive()" class="btnTop2" style="margin-top: 55px; margin-left:17.5%;" (click)="login.goLogin()">QUIERO UNIRME <i style="color:#ffb400" class="fa fa-angle-right"></i></button> -->
    </div>
    <div class="d-none d-lg-block" style="width:100%;height:499px;
    background-image: url('assets/img/desempleo2/joboffers/joboffers.png'), linear-gradient(90deg, #ec1c24 50%,  #ff979e 50%);
    background-position: right 350px bottom, right bottom;
    background-repeat: no-repeat,no-repeat;
    margin-top: -39px;
    background-size: 231px 399px, contain;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
            <div style="margin-left: 19.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo" routerLink="/joboffers"><b>Conoce ofertas laborales </b></span>
            </div>
        </div>
        <h1 class="tituloModulo">¿Buscas nuevas oportunidades?</h1>
        <button *ngIf="login.isActive()" class="btnMainRed" style="margin-top: 55px; margin-left:10%;"
            routerLink="/ofertas-laborales-servicio">Conoce ofertas laborales </button>
        <button *ngIf="!login.isActive()" class="btnMainRed" style="margin-top: 55px; margin-left:10%;"
            (click)="login.goLogin()">Únete ahora </button>
    </div>
    <div class="container">
        <div class="row m-4">
                <div class="social-cont">
                        <div class="social">
                            <ul>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://ecodesascco.grupomok.com.co/curriculumhome"
                                                target="_blank" class="icon-facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://twitter.com/share?url=http://ecodesascco.grupomok.com.co" target="_blank"
                                                class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ecodesascco.grupomok.com.co"
                                                target="_blank" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                            </div>
                    </div>
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <h2 class="font-weight-bold text-secondary text-left mt-5 mb-5">Muchas ofertas laborales en un
                            solo lugar</h2>
                        <p>Si estás sin trabajo o simplemente quieres uno mejor, este servicio puede ser tu salvación.
                        </p>

                        <p>Regístrate y con unos clicks busca nuevas oportunidades laborales de una forma fácil y
                            sencilla.</p>

                        <p>Filtra por ciudad, cargo o salario y aplica a la vacante que más te guste, incluso a
                            aquellos cargos que parecen estar más alejados del mundo digital. </p>
                        <!-- <table border="0" class="tablaHomePasos mb-5">
                                    <tr>
                                        <td><div class="circuloNumero">1</div></td>
                                        <td>
                                            <p class="tituloHomePasos">Diligencia tus datos</p>
                                            <p>personales, información académica y experiencia laboral</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="circuloNumero">2</div></td>
                                        <td>
                                            <p class="tituloHomePasos">Selecciona la plantilla</p>
                                            <p>que deseas y personalízala</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="circuloNumero">3</div></td>
                                        <td>
                                            <p class="tituloHomePasos">Agenda cita con un experto</p>
                                            <p>en selección para sacar el mayor provecho a tu perfil resaltando tus habilidades y aptitudes
                                                <br>Podrás descargar tu hoja de vida y modificar o adicionar información cuando desees.</p>
                                        </td>
                                    </tr>
                                </table> -->
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    
                <div style="width:100%;" class="text-center">
                        <iframe class="mt-4" style="max-width:988px;width:100%;height: 555px;border: 0px" src="https://player.vimeo.com/video/376042607">
                    </iframe>
                        <app-video-material tipoMateriales="des_curriculumhome"></app-video-material>
                    </div>

                    <div class="row m-4">
                        <div class="row">
                            <div class="col-lg-2 col-md-1 col-sm-0"></div>
                            <div class="col-lg-8 col-md-10 col-sm-12">
                                <p>Gracias a tu seguro tienes a disposición más de 40.000 ofertas laborales vigentes.
                                    Así que busca la opción que más se ajusta a tu perfil.
                                </p>
                                <div style="width:100%;border-top: 1px solid lightgray;" class="pt-4 mt-5 mb-5">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-1 col-sm-0"></div>
                            <div class="col-md-12 text-center mt-3 mb-5">
                                <p>
                                    Úsalo cuantas veces quieras y proyéctate una meta de crecimiento profesional
                                </p>
                                <button *ngIf="login.isActive()" class="btnMain" routerLink="/ofertas-laborales-servicio">Conocer
                                    ofertas laborales</button>
                                <button *ngIf="!login.isActive()" class="btnMain" routerLink="/ofertas-laborales-servicio">Encuentra
                                    trabajo aquí</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <app-interest-material tipoMateriales="des_joboffers"></app-interest-material>
        <div class="row m-4">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <p>Tu seguro te permite aplicar a más de 40.000 ofertas laborales actualizadas. Podrás
                            buscar la que más te convenga y ajuste a tu perfil</p>
                        <p>Busca el trabajo que mejor se ajuste a tu experiencia.</p>
                        <p></p>
                        <div style="width:100%;border-top: 1px solid lightgray;" class="pt-4 mt-5">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-md-12 text-center">
                        <p>Sin límites de uso.</p>
                        <p>Proyéctate ahora, y busca nuevas metas para crecer a nivel profesional.</p>
                    </div>
                    <div class="col-md-12 text-center mt-3 mb-5">
                        <button *ngIf="!login.isActive()" class="btnMain" (click)="login.goLogin()">Únete ahora
                        </button>
                        <button *ngIf="login.isActive()" class="btnMain" routerLink="/ofertas-laborales-servicio">Encuentra trabajo aquí
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-block d-xl-none d-lg-none quieroUnirmeMovile" (click)="login.goLogin()"
        *ngIf="!login.isActive()">
        <p><i class="icon-Login iconSize"></i>&nbsp;&nbsp;&nbsp;Únete ahora</p>
    </div>
</div>
