.background {
    background-color: #7d8489;
    height: 100%;
}
.tab-content{
  // border: 1px solid lightgray;
  padding: 15px;
}
.tab-pane > h3{
  color: black;
}
.nav-link{
  margin-left: 10px;
  margin-right: 10px;
  color: #58595b;
}
.nav-link.active{ 
  border-bottom: 3px #ec1c24 solid;
}