/* @font-face {
    font-family: GoogleSans !important;
    src: url("./assets/fonts/GoogleSans.ttf"); 
  } */

  @font-face {
    font-family: OpenSans-Bold;
    src: url("./assets/fonts/OpenSans-Bold.ttf")
  }
  @font-face {
    font-family: OpenSans;
    src: url("./assets/fonts/OpenSans-Bold.ttf")
  }
  @font-face {
    font-family: OpenSans-ExtraBold;
    src: url("./assets/fonts/OpenSans-ExtraBold.ttf")
  }
  @font-face {
    font-family: OpenSans-Light;
    src: url("./assets/fonts/OpenSans-Light.ttf")
  }
  @font-face {
    font-family: OpenSans-Regular;
    src: url("./assets/fonts/OpenSans-Regular.ttf")
  }
  @font-face {
    font-family: OpenSans-SemiBold;
    src: url("./assets/fonts/OpenSans-SemiBold.ttf")
  }