<div style="width:100%;height:300px;
background-color: #009dd6;
position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/salud-financiera" class="crumbModulo">Salud financiera > </span>
            <span routerLink="/salud-financiera-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <h1 class="tituloModulo pad-tit">Tu Salud Financiera</h1>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
        <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
<div class="row" >
    <div class="container mb-3">
        <a routerLink="/salud-financiera-ejercicios" class="btn-volver manito Volver" role="button" style="color: #008ACC;"><i
                class="fas fa-chevron-circle-left"></i> Volver</a>
      </div>


      <p class="text-center col-lg-12 mt-3 mb-4 font-weight-bold">Mide si los ingresos alcanzan
        para cubrir los gastos y si no se recurre a la deuda para cubrir el exceso de gastos.
    </p>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>
                En los últimos 12 meses me ha ocurrido que mis ingresos no me han alcanzan para
                cubrir los gastos personales del hogar.
            </label>
            <div class="form-group form-check">
                <input type="radio" class="form-check-input" id="test2radio1_1" value="Verdadero, al menos un mes"
                    name="s4s1p1">
                <label class="form-check-label" for="test2radio1_1">&nbsp;Verdadero, al menos un
                    mes</label>
                <br>
                <input type="radio" class="form-check-input" name="s4s1p1" id="test2radio1_2"
                    value="Falso, ni un solo mes">
                <label class="form-check-label" for="test2radio1_2">&nbsp;Falso, ni un solo
                    mes</label>
            </div>
        </div>
    </div>
    <!--<div class="text-center" style="width:100%">
                                <button style="margin: auto" type="submit" (click)="subSection=2"
                                    class="btn btnTop2 btn-primary mt-4 mb-4">Continuar</button>
                            </div>-->
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>
                ¿Qué hiciste para cubrir tus gastos personales o del hogar la última vez que
                esto sucedió?
            </label>
            <div class="form-group form-check">
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_1"
                    value="Empeñé algo que me pertenece">
                <label class="mt-3 form-check-label" for="test3check1_1">Empeñé algo que me
                    pertenece</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_2"
                    value="Hice trabajos extra gané dinero extra">
                <label class="mt-3 form-check-label" for="test3check1_2">Hice trabajos extra
                    gané dinero extra</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_3"
                    value="Hipotequé un activo (por ejemplo poner en hipoteca o en garantía contra préstamo la vivienda)">
                <label class="mt-3 form-check-label" for="test3check1_3">Hipotequé un activo
                    (por ejemplo poner en hipoteca o en garantía contra préstamo la
                    vivienda)</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_4"
                    value="Obtuve préstamos de mi empleador o sueldos adelantados">
                <label class="mt-3 form-check-label" for="test3check1_4">Obtuve préstamos de mi
                    empleador o sueldos adelantados</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_5"
                    value="Pagué mis cuentas tarde fallé en los pagos">
                <label class="mt-3 form-check-label" for="test3check1_5">Pagué mis cuentas tarde
                    fallé en los pagos</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_6"
                    value="Reduje los gastos">
                <label class="mt-3 form-check-label" for="test3check1_6">Reduje los
                    gastos</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_7"
                    value="Retiré dinero de los ahorros">
                <label class="mt-3 form-check-label" for="test3check1_7">Retiré dinero de los
                    ahorros</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_8"
                    value="Compre bienes o alimentos fiados">
                <label class="mt-3 form-check-label" for="test3check1_8">Compre bienes o
                    alimentos fiados</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_9"
                    value="Retiré dinero de mi fondo de pensiones voluntarias">
                <label class="mt-3 form-check-label" for="test3check1_9">Retiré dinero de mi
                    fondo de pensiones voluntarias</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_10"
                    value="Tomé prestados alimentos o dinero de familiares o amigos">
                <label class="mt-3 form-check-label" for="test3check1_10">Tomé prestados
                    alimentos o dinero de familiares o amigos</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_11"
                    value="Tomé un préstamo de fondos colectivos (por ejemplo cadenas de ahorro o natilleras)">
                <label class="mt-3 form-check-label" for="test3check1_11">Tomé un préstamo de
                    fondos colectivos (por ejemplo cadenas de ahorro o natilleras)</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_12"
                    value="Tomé un préstamo de un proveedor informal / prestamista">
                <label class="mt-3 form-check-label" for="test3check1_12">Tomé un préstamo de un
                    proveedor informal / prestamista</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_13"
                    value="Tomé un préstamo personal de una entidad financiera (incluidas las cooperativas de crédito bancarias o de microfinanzas)">
                <label class="mt-3 form-check-label" for="test3check1_13">Tomé un préstamo
                    personal de una entidad financiera (incluidas las cooperativas de crédito
                    bancarias o de microfinanzas)</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_14"
                    value="Usé la tarjeta de crédito para un avance de dinero en efectivo o para pagar las facturas / comprar alimentos">
                <label class="mt-3 form-check-label" for="test3check1_14">Usé la tarjeta de
                    crédito para un avance de dinero en efectivo o para pagar las facturas /
                    comprar alimentos</label>
                <br>
                <input type="checkbox" class="s4s2p2 mt-4 form-check-input" id="test3check1_15"
                    value="Vendí algo que me pertenece">
                <label class="mt-3 form-check-label" for="test3check1_15">Vendí algo que me
                    pertenece</label>
            </div>
        </div>
    </div>
    <!---
      <h2 class="titleTest col-lg-10 offset-lg-1 mt-3 mb-4 "> Evalúa tu salud financiera</h2>
    <p class="text col-lg-12 mt-3 mb-4 font-weight-bold">

       <label> Selecciona el área que más te interese, reponde las preguntas y obtén tu puntaje correspondiente. Para obtener tu score total debes completar todo el cuestionario</label> <br><br>

       <label style="color: red;"> Actitudes y comportamientos hacia el diner</label><br><br>

       <label> En esta sección vas a encontrar un conjunto de afirmaciones sobre actitudes y comportamientos hacia el dinero. El objetivo es que nos indiques que tanto te identificas con ellas en tu día a día.</label> <br><br>

       <label> Por favor utiliza una escala de 1 a 5, donde 1 quiere decir que NUNCA piensas o actúas de esa manera y 5 quiere decir que SIEMPRE piensas o actúas de esa manera.</label> 



    </p>
    
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">

<div class="row mt-3">
                <div class="col-12 mb-2">
                    Antes de comprar algo considero cuidadosamente si puedo pagarlo
                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p1" id="p1_1"
                                    value="1"><label for="p1_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p1" id="p1_2"
                                    value="2"><label for="p1_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p1" id="p1_3"
                                    value="3"><label for="p1_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p1" id="p1_4"
                                    value="4"><label for="p1_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p1" id="p1_5"
                                    value="5"><label for="p1_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>



            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Prefiero vivir el día y no me preocupo por el mañana                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p2" id="p2_1"
                                    value="1"><label for="p2_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p2" id="p2_2"
                                    value="2"><label for="p2_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p2" id="p2_3"
                                    value="3"><label for="p2_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p2" id="p2_4"
                                    value="4"><label for="p2_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p2" id="p2_5"
                                    value="5"><label for="p2_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>
            
            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Prefiero gastar dinero que ahorrar para el futuro                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p3" id="p3_1"
                                    value="1"><label for="p3_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p3" id="p3_2"
                                    value="2"><label for="p3_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p3" id="p3_3"
                                    value="3"><label for="p3_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p3" id="p3_4"
                                    value="4"><label for="p3_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p3" id="p3_5"
                                    value="5"><label for="p3_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Pago mis cuentas a tiempo                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p4" id="p4_1"
                                    value="1"><label for="p4_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p4" id="p4_2"
                                    value="2"><label for="p4_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p4" id="p4_3"
                                    value="3"><label for="p4_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p4" id="p4_4"
                                    value="4"><label for="p4_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p4" id="p4_5"
                                    value="5"><label for="p4_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Estoy dispuesto a arriesgar algo de mi propio dinero cuando hago una inversión                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p5" id="p5_1"
                                    value="1"><label for="p5_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p5" id="p5_2"
                                    value="2"><label for="p5_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p5" id="p5_3"
                                    value="3"><label for="p5_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p5" id="p5_4"
                                    value="4"><label for="p5_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p5" id="p5_5"
                                    value="5"><label for="p5_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Vigilo personalmente mis temas financieros
                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p6" id="p6_1"
                                    value="1"><label for="p6_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p6" id="p6_2"
                                    value="2"><label for="p6_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p6" id="p6_3"
                                    value="3"><label for="p6_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p6" id="p6_4"
                                    value="4"><label for="p6_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p6" id="p6_5"
                                    value="5"><label for="p6_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Me pongo metas financieras a largo plazo y me esfuerzo por lograrlas                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p7" id="p7_1"
                                    value="1"><label for="p7_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p7" id="p7_2"
                                    value="2"><label for="p7_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p7" id="p7_3"
                                    value="3"><label for="p7_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p7" id="p7_4"
                                    value="4"><label for="p7_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p7" id="p7_5"
                                    value="5"><label for="p7_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Creo que el dinero está ahí para ser gastado                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p8" id="p8_1"
                                    value="1"><label for="p8_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p8" id="p8_2"
                                    value="2"><label for="p8_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p8" id="p8_3"
                                    value="3"><label for="p8_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p8" id="p8_4"
                                    value="4"><label for="p8_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p8" id="p8_5"
                                    value="5"><label for="p8_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Creo que es mejor disfrutar ahora y pagar luego                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p9" id="p9_1"
                                    value="1"><label for="p9_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p9" id="p9_2"
                                    value="2"><label for="p9_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p9" id="p9_3"
                                    value="3"><label for="p9_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p9" id="p9_4"
                                    value="4"><label for="p9_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p9" id="p9_5"
                                    value="5"><label for="p9_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Por lo general se cuánto dinero disponible tengo en mi billetera o cuenta bancaria a lo largo del mes                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p10" id="p10_1"
                                    value="1"><label for="p10_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p10" id="p10_2"
                                    value="2"><label for="p10_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p10" id="p10_3"
                                    value="3"><label for="p10_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p10" id="p10_4"
                                    value="4"><label for="p10_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p10" id="p10_5"
                                    value="5"><label for="p10_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mb-2">
                    Por lo general se cuánto dinero debo en total a bancos, prestamistas, amigos y familiares                                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 ">NUNCA pienso o actúo así</div>
                <div class="col-md-5 col-sm-6 f12 pl-0">
                    <table class="table borderless">
                        <tr>
                            <td style="border-top: 0px; text-align: center;">1
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p11" id="p11_1"
                                    value="1"><label for="p11_1"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">2
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p11" id="p11_2"
                                    value="2"><label for="p11_2"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">3
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p11" id="p11_3"
                                    value="3"><label for="p11_3"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">4
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p11" id="p11_4"
                                    value="4"><label for="p11_4"></label>
                            </td>
                            <td style="border-top: 0px; text-align: center;">5
                                <br>
                                <input class="form-check-input rdPreguntaRango" type="radio" name="s2s1p11" id="p11_5"
                                    value="5"><label for="p11_5"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-2 f12 mt-4 txt-right-preg">SIEMPRE pienso o actúo así</div>
            </div>
        </div>
    </div> -->
    <div class="text-center" style="width:100%">
        <button style="margin: auto" type="submit" (click)="guardarIndicador5()" routerLink="/salud-financiera-ejercicios"
            class="btn btnTop2 btn-primary mt-4 mb-4">Finalizar cuestionario</button>
    </div>
</div>
</div>
</section>
</section>
</div>
</div>