.titleInserColapVTS {
    color: #ec1c24;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-volver{
    border-color: #ec1c24 2px solid !important;
    background-color: #ffffff !important;
    color: #ec1c24 !important;    
}
.btn-volver:hover{
    border-color: #ec1c24 2px solid !important;
    background-color: #ffffff !important;
    color: #ec1c24 !important;    
}
.resumenLittleVTS{
    border-radius: 4px;
    border: solid 1px #cacaca !important;
    background-color: #ffffff;
}

.tituloEmpresa{
    font-family: GoogleSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #ec1c24;
}
.parrafoEmpresa{
    width: 239px;
  height: 166px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #5e5e5e;
}
.logoEmpresa{
    border: solid 1px #e3e3e3;
    background-color: #f9f9f9;
    height: 226px;
    width:90%;
    margin:auto;
    background-color: #f2f5f8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}