<div>
    <div class="d-block d-xl-none d-lg-none imgMovil" style="width:100%;height:600px;
            margin-top: -39px;
            background: linear-gradient(73deg, #2ba1ac 14%, #228f99 99%);">
        <!-- <div style="width:100%;height:300px;
        background: url('assets/img/digital-branding/fondoDigitalBranding.png') no-repeat left bottom, linear-gradient(256deg, #8bd15a, #448019);
        ;position:absolute;margin-top: -39px;"> -->
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
            <div style="margin-left: 19.1%;">
                <span routerLink="/home" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo"><b>Estudia con coursera</b></span>
            </div>
        </div>
        <h1 class="tituloModulo">Con Coursera haz crecer  <br>
            tu emprendimiento   ​</h1>
        <!-- <button *ngIf="login.isActive()" class="btnTop2" style="margin-top: 55px; margin-left:17.5%;" (click)="increment()">MEJORAR MI HOJA DE VIDA <i style="color:#ffb400" class="fa fa-angle-right"></i></button>
            <button *ngIf="!login.isActive()" class="btnTop2" style="margin-top: 55px; margin-left:17.5%;" (click)="login.goLogin()">QUIERO UNIRME <i style="color:#ffb400" class="fa fa-angle-right"></i></button> -->
    </div>
    <div class="d-none d-lg-block" style="width:100%;height:499px;
        background-image: url('assets/img/itt2/coursera/coursera.png'), linear-gradient(90deg, #009dd6 50%,  #91ddf8 50%);
        background-position: right 200px bottom, right bottom;
        background-repeat: no-repeat,no-repeat;
        margin-top: -39px;
        background-size: 335px 403px, contain;;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
            <div style="margin-left: 19.1%;">
                <span routerLink="/home" class="crumbModulo">Inicio > </span>
                <span class="crumbModulo"><b>Estudia con coursera </b></span>
            </div>
        </div>
        <h1 class="tituloModulo">Con Coursera haz crecer <br> tu emprendimiento ​</h1>
        <button *ngIf="login.isActive()" class="btnBlue" style="margin-top: 55px; margin-left:10%;"
            (click)="onNavigate()">Quiero estudiar </button>
        <button *ngIf="!login.isActive()" class="btnBlue" style="width:265px;margin-top: 55px; margin-left:10%;"
            (click)="login.goLogin()">Quiero unirme </button>
    </div>
    <div class="container">
        <div class="row m-4">
                <div class="social-cont">
                        <div class="social">
                            <ul>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://ecodesascco.grupomok.com.co/curriculumhome"
                                                target="_blank" class="icon-facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://twitter.com/share?url=http://ecodesascco.grupomok.com.co" target="_blank"
                                                class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ecodesascco.grupomok.com.co"
                                                target="_blank" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                            </div>
                    </div>
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <h2 class="font-weight-bold text-secondary text-left mt-5 mb-5">Los mejores cursos para
                            emprendedores con Coursera</h2>
                        <p>Sabemos que ampliar tus conocimientos te dará más herramientas para optimizar tus ideas y
                            emprendimientos.</p>
                        <p> Coursera tiene una oferta de hasta 300 cursos online con el aval de las mejores
                            universidades del mundo. Aprende
                            con Coursera a dirigir tu emprendimiento: desde el recurso humano hasta el presupuesto.
                            Capacítate sin ningún costo. </p>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                </div>
                <div style="width:100%;" class="text-center">
                        <iframe class="mt-4" style="max-width:988px;width:100%;height: 555px;border: 0px" src="https://player.vimeo.com/video/374553895">
                        </iframe>
                </div>
                <app-video-material tipoMateriales="des_curriculumhome"></app-video-material>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <p>Con los cursos de Coursera, aprenderás habilidades necesarias para tu emprendimiento</p>
                        <p>Coursera es la plataforma de cursos online más importante del mundo. Más de 1.700 empresas
                            del mundo capacitan a sus empleados por medio de esta herramienta.</p>
                        <p>Ahora puedes aprovechar los distintos cursos especializados, sin costo alguno, para poder
                            potenciar tu emprendimiento. Dentro de un amplio catálogo de cursos en diferentes ramas del
                            conocimiento, selecciona el de tu interés y obtén los conocimientos necesarios que te
                            ayudarán a potencializar tu emprendimiento. </p>
                        <p>Te invitamos a que navegues por nuestro catálogo académico y selecciones el curso que 
                            quieras.</p>
                        <p> Nuestros cursos cuentan con la garantía y excelencia de Coursera, la plataforma de cursos online
                        más importante del mundo.</p>
                        <div style="width:100%;border-top: 1px solid lightgray;" class="pt-4 mt-5 mb-5">
                            <!-- <table border="0" class="tablaHomePasos mb-5">
                                        <tr>
                                            <td><div class="circuloNumero">1</div></td>
                                            <td>
                                                <p class="tituloHomePasos">Diligencia tus datos</p>
                                                <p>personales, información académica y experiencia laboral</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="circuloNumero">2</div></td>
                                            <td>
                                                <p class="tituloHomePasos">Selecciona la plantilla</p>
                                                <p>que deseas y personalízala</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><div class="circuloNumero">3</div></td>
                                            <td>
                                                <p class="tituloHomePasos">Agenda cita con un experto</p>
                                                <p>en selección para sacar el mayor provecho a tu perfil resaltando tus habilidades y aptitudes
                                                    <br>Podrás descargar tu hoja de vida y modificar o adicionar información cuando desees.</p>
                                            </td>
                                        </tr>
                                    </table> -->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-md-12 text-center mt-3 mb-5">
                        <button *ngIf="!login.isActive()" class="btnMain" (click)="login.goLogin()">COMENZAR ASESORIA
                        </button>
                        <button *ngIf="login.isActive()" class="btnMain" (click)="onNavigate()">Quiero estudiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-interest-material tipoMateriales="itt_study"></app-interest-material>
    <div class="container d-block d-xl-none d-lg-none quieroUnirmeMovile" (click)="login.goLogin()"
        *ngIf="!login.isActive()">
        <p><i class="icon-Login iconSize"></i>&nbsp;&nbsp;&nbsp;Quiero unirme</p>
    </div>
</div>