.background {
    background-color: #7d8489;
    height: 100%;
}

.iconSize {
  font-size: 17px;
}

.nav-link{
  margin-left: 10px;
  margin-right: 10px;
  color: #58595b;
}
.nav-link.active{ 
  border-bottom: 3px #ec1c24 solid;
}
.divRaya{ 
  background: #ec1c24; 
  left: 0; 
  width: 40px;
  height: 3px;
  margin-bottom: 10px;
}

$des_eco6_backColor: linear-gradient(90deg, #333333 100%,  #4d4d4d 50%);

.imgMovil{    
  background-image: url("/../../../assets/img/itt2/legal/legal.png"),$des_eco6_backColor !important;    
  background-size: 220px, contain;
  background-position: center bottom 0% !important;
  background-repeat: no-repeat, no-repeat;
}
.social {
  position: absolute;
  left: -75px; 
  top: 42px;
}
.social-cont {
  position: relative;
}
@media (min-width: 845px) {
  .social {
    left: 68px;
    z-index: 999;
  }
}
 
  .social ul {
    list-style: none;
  }
 
  .social ul li a {
    border-radius: 50%;
    display: inline-block;
    color:gray;
    background: #fff;
    padding: 15px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 
  }

  .social ul li .icon-facebook:hover {background:#3b5998;color:white;} 
  .social ul li .icon-twitter:hover {background: #00abf0;color:white;}
  .social ul li .icon-linkedin:hover {background: #007bb5;color:white;}

.icon-facebook {
  width: 100%;
  text-align: center;
}