<div class="content-wrapper" style="margin-left: 0px !important">
    <div style="background: #333333;
background-position: left;
background-repeat: no-repeat;
width:100%;height:300px;position:absolute;margin-top: -39px">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
            <div style="margin-left: 17.8%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span routerLink="/asesoria-legal" class="crumbModulo">Asesoría legal > </span>
                <span routerLink="/asesoria-legal-servicio" class="crumbModulo"><b>Agendar asesoría </b></span>
            </div>
        </div>
        <div class="col-lg-10 col-md-7 offset-md-1 col-sm-12 offset-sm-0">
            <h1 class="tituloModulo">Queremos acompañarte cuando más nos necesitas</h1>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row" style="padding-top: 150px">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 mt-5 mb-5" style="margin:auto">
                            <div class="card" style="border:1px solid lightgray !important">
                                <div class="row">
                                    <div class="col-12" style="padding:6%">
                                        <ul class="nav pCabeceraModulo" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-info-tab" data-toggle="pill"
                                                    href="#pills-info" role="tab" aria-controls="pills-info"
                                                    aria-selected="true">
                                                    Consultoría legal
                                                </a>
                                            </li>
                                            <li class="nav-item" style="display: none;">
                                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill"
                                                    href="#pills-contact" role="tab" aria-controls="pills-contact"
                                                    aria-selected="false">
                                                    Material de consulta
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content mt-5" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-info" role="tabpanel"
                                                aria-labelledby="pills-home-tab">
                                                <p>
                                                    Las siguientes preguntas nos permitirán asesorarte
                                                    adecuadamente.
                                                    Recuerda que la consultoría legal sólo se podrá prestar en temas
                                                    relacionados con Derecho laboral.
                                                </p>
                                                <app-scheduling module="Legal"></app-scheduling>
                                            </div>
                                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                                aria-labelledby="pills-contact-tab">
                                                <div class="container mb-5">
                                                    <p>Podrás saber sobre más temas de interés para que complementes
                                                        tus
                                                        preguntas sobre consultoría legal.
                                                    </p>
                                                    <!-- <object style="width:100%;height: 555px"
                                                        data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                    </object> -->
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <div>
                                                    <p>Videos recomendados</p>
                                                </div>
                                                <div class="card-deck">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <!-- <object class="card-img-top"
                                                                data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                            </object> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text">This is a wider card with
                                                                supporting text below as a natural lead-in to
                                                                additional content. This content is a little bit
                                                                longer.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <!-- <object class="card-img-top"
                                                                data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                            </object> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text">This card has supporting text below
                                                                as a natural lead-in to additional content.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <!-- <object class="card-img-top"
                                                                data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                            </object> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text">This is a wider card with
                                                                supporting text below as a natural lead-in to
                                                                additional content. This card has even longer
                                                                content than the first to show that equal height
                                                                action.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-deck mt-5">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <!-- <object class="card-img-top"
                                                                data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                            </object> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text">This is a wider card with
                                                                supporting text below as a natural lead-in to
                                                                additional content. This content is a little bit
                                                                longer.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <!-- <object class="card-img-top"
                                                                data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                            </object> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text">This card has supporting text below
                                                                as a natural lead-in to additional content.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <!-- <object class="card-img-top"
                                                                data="https://www.youtube.com/embed/u_7oaskZrlo">
                                                            </object> -->
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text">This is a wider card with
                                                                supporting text below as a natural lead-in to
                                                                additional content. This card has even longer
                                                                content than the first to show that equal height
                                                                action.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
