<!-- <app-block-loader [blocked]="loader"></app-block-loader> -->
<div>
    <div class="d-block d-xl-none d-lg-none imgMovil" style="width:100%;height:325px;
            margin-top: -39px;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
            <div style="margin-left: 19.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span routerLink="/estudia-economia" class="crumbModulo"><b>Finanzas Personales</b></span>
            </div>
        </div>
        <h1 class="tituloModulo">Aprende a manejar tus finanzas personales</h1>

        <button *ngIf="login.isActive()" class="btnPurple" style="margin-top: 80px; margin-left:10%;
        width: 251px;
height: 48px;
border-radius: 4px;
background-color: #ffffff;" 
        routerLink="/servicio-score-credito">Únete ahora
    </button>
    </div>
    <div class="d-none d-lg-block" style="width:100%;height:499px;
        background-image: url('assets/img/fraude2/finanzas/finanzas-woman.png'), linear-gradient(90deg, #7849b8 50%,  #afa8f6 50%);
        background-position: right 350px bottom, right bottom;
        background-repeat: no-repeat,no-repeat;
        margin-top: -39px;
        background-size: auto, contain;">
        <div
            style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
            <div style="margin-left: 19.1%;">
                <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
                <span routerLink="/estudia-economia-servicio" class="crumbModulo"><b>Finanzas Personales </b></span>
            </div>
        </div>
        <h1 class="tituloModulo " style="margin-top: 5%;">Aprende a manejar <br>
            tus finanzas personales </h1>
        <button *ngIf="login.isActive()" class="btnPurple" style="margin-top: 55px; margin-left:10%;"
            routerLink="/estudia-economia-servicio">
            Comenzar curso
        </button>
        <button *ngIf="!login.isActive()" class="btnPurple" style="margin-top: 55px; margin-left:10%;"
            (click)="login.goLogin()">Únete ahora
        </button>
    </div>
    <div class="container">
        <div class="row m-4">
            <div class="social-cont"  *ngIf="!login.isActive()">
              <!--  <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://ecodesascco.grupomok.com.co/curriculumhome"
                                target="_blank" class="icon-facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://twitter.com/share?url=http://ecodesascco.grupomok.com.co" target="_blank"
                                class="icon-twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://ecodesascco.grupomok.com.co"
                                target="_blank" class="icon-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>-->
            </div>
            <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-0"></div>
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <h2 class="font-weight-bold text-secondary text-left mt-5 mb-5">
                            Te ofrecemos formación constante sobre el uso adecuado de tus finanzas.
                        </h2>
                        <p>Resulta importante aprender a conocer la mejor manera de tener bajo control tus finanzas. Conocer de qué manera puedes hacerlo, es un aspecto fundamental de tu vida actual y tu futuro. Gracias a tu seguro Tarjeta Protegida tienes la oportunidad de aprender a sacar el máximo provecho de tu vida financiera. </p><br><br>
                        <p> 
                            Sabemos lo importante que es tu vida financiera. Por ese motivo, tu ecosistema de servicios te permite organizarla y aprender más al respecto. </p><br><br>
                            
                            <p>  Conoce de qué manera mejorar tus finanzas personales, desarrollarte en todos los campos y crecer integralmente. Tu ecosistema Scotiabank Cardif, te permite no solo gestionar tus finanzas, sino tomar cursos para controlar tus gastos y tu vida financiera. </p><br><br>
                            
                            <p  *ngIf="!login.isActive()">  Regístrate y aprende de la mano de expertos a administrar mejor tu vida financiera y alcanza tus objetivos personales. </p>
                            
                            <p  *ngIf="!login.isActive()">   Disfruta de tus beneficios con tu Ecosistema de Servicios en tres simples pasos:</p>
                            

                            <p  *ngIf="login.isActive()"> Aprende cómo tomar el control de tus finanzas personales y mejora tu vida usando los beneficios de tu seguro.
                                
                                
                                </p>
                            
                        
                                <table border="0" class="tablaHomePasos mb-5">
                                    <tr>
                                        <td>
                                            <div class="circuloNumero">1</div>
                                        </td>
                                        <td>
                                            <p class="tituloHomePasos">Verifica que estás activo</p>
                                            <p>Activa tu seguro para poder empezar a disfrutar de tus beneficios del ecosistema.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="circuloNumero">2</div>
                                        </td>
                                        <td>
                                            <p class="tituloHomePasos">Regístrate en nuestro sitio</p>
                                            <p>Ingresa a nuestro sitio y completa los datos necesarios para poder disfrutar de los beneficios del ecosistema Scotiabank Cardif.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="circuloNumero">3</div>
                                        </td>
                                        <td>
                                            <p class="tituloHomePasos">Empieza a disfrutar de tus beneficios</p>
                                            <p>Ahora que tienes activo tu seguro, disfruta de todos los beneficios del ecosistema de servicios que tenemos para ti.
                                                <br></p>
                                        </td>
                                    </tr>
                                </table> 
                    

                      
                    </div>
                    <div class="col-2"></div>
                </div>
            <!--    <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="640" height="360"
                        src="https://player.vimeo.com/video/385395808" allowfullscreen></iframe>
                </div>-->
            </div>
        </div>
        <div class="row m-4">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                  

                    <div class="col-2"></div>
                    <div class="col-md-12 text-center"  *ngIf="!login.isActive()">
                        <p>Queremos apoyarte para que logres tus objetivos y tomes mejores decisiones. </p>
                    </div>
                    <div style="width:100%;border-top: 1px solid lightgray;border-bottom: 1px solid lightgray;"
                        class="d-block d-sm-block d-md-none">
                           <table border="0" class="tablaHomePasos mb-5">
                               <tr>
                                   <td>
                                       <div class="circuloNumero">1</div>
                                   </td>
                                   <td>
                                       <p class="tituloHomePasos">Verifica que estás activo</p>
                                       <p>Activa tu seguro para poder empezar a disfrutar de tus beneficios del ecosistema.</p>
                                   </td>
                               </tr>
                               <tr>
                                   <td>
                                       <div class="circuloNumero">2</div>
                                   </td>
                                   <td>
                                       <p class="tituloHomePasos">Regístrate en nuestro sitio</p>
                                       <p>Ingresa a nuestro sitio y completa los datos necesarios para poder disfrutar de los beneficios del ecosistema Scotiabank Cardif.</p>
                                   </td>
                               </tr>
                               <tr>
                                   <td>
                                       <div class="circuloNumero">3</div>
                                   </td>
                                   <td>
                                       <p class="tituloHomePasos">Empieza a disfrutar de tus beneficios</p>
                                       <p>Ahora que tienes activo tu seguro, disfruta de todos los beneficios del ecosistema de servicios que tenemos para ti.
                                          </p>
                                   </td>
                               </tr>
                           </table></div>

                    <div class="text-center d-none d-sm-none d-md-block"  *ngIf="login.isActive()">
                   <p>Aprende y conoce innovadores métodos para mejorar tus finanzas personales  </p>
                </div>

                <div class="text-center d-block d-sm-block d-md-none"  *ngIf="login.isActive()">
                    <p>Queremos apoyarte para que logres tus objetivos y tomes mejores decisiones.  </p>
                 </div>
                    <div class="col-md-12 text-center mt-3 mb-5">
                        <button *ngIf="!login.isActive()" class="btnMain" (click)="login.goLogin()">Únete ahora  
                        </button>
                        <button *ngIf="login.isActive()" class="btnMain " routerLink="/estudia-economia-servicio">Comenzar curso </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-interest-material tipoMateriales="fr_study"></app-interest-material>
    <div class="container d-block d-xl-none d-lg-none quieroUnirmeMovile" (click)="login.goLogin()"
        *ngIf="!login.isActive()">
        <p><i class="icon-Login iconSize"></i>&nbsp;&nbsp;&nbsp;Quiero unirme</p>
    </div>
</div>