.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #f39c12;
}

.title {
    color: #f39c12
}

.title2 {
    color: #0e4aaa
}

.title3 {
    color: #7dc855;
}

.texto-plano {
    color: #8e8e93;
}

.enlance {
    color: #034797
}




.Olvidaste-tu-contra {
    width: 368px;
    height: 34px;
    font-family: GoogleSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.51px;
    text-align: center;
    color: #494a4e;
  }





.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top:  #f39c12 5px solid;
}

.fondo{
    background-color: #ffffff;    
}

.margen {
    padding: 30px 30px 30px 30px;
    border-top:1px solid white
}


// boton siguiente
.btn-next { 
    color: #FFFFFF; 
    background-color: #002877; 
    border-color: #002877; 
    border-radius: 25px;
} 
   
.btn-next:hover, 
.btn-next:focus, 
.btn-next:active, 
.btn-next.active, 
.open .dropdown-toggle.btn-next { 
    color: #FFFFFF; 
    background-color: #1E4CB5; 
    border-color: #002877; 
  } 
   
.btn-next:active, 
.btn-next.active, 
.open .dropdown-toggle.btn-next { 
    background-image: none; 
} 
   
.btn-next.disabled, 
.btn-next[disabled], 
fieldset[disabled] .btn-next, 
.btn-next.disabled:hover, 
.btn-next[disabled]:hover, 
fieldset[disabled] .btn-next:hover, 
.btn-next.disabled:focus, 
.btn-next[disabled]:focus, 
fieldset[disabled] .btn-next:focus, 
.btn-next.disabled:active, 
.btn-next[disabled]:active, 
fieldset[disabled] .btn-next:active, 
.btn-next.disabled.active, 
.btn-next[disabled].active, 
fieldset[disabled] .btn-next.active { 
    background-color: #002877; 
    border-color: #002877; 
} 
   
.btn-next .badge { 
color: #002877; 
background-color: #FFFFFF; 
}

.fa-yellow{
    color: #FFB500;
}



//wuea password


.progress {
    height: 5px;
}

.control-label {
    text-align: left !important;
    padding-bottom: 7px;
}

.form-horizontal {
    padding: 25px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
}

select.form-control:focus {
    border-color: #e9ab66;
    box-shadow: none;
}

.block-help {
    font-weight: 300;
}

.terms {
    text-decoration: underline;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.divider {
    position: absolute;
    height: 2px;
    border: 1px solid #eee;
    width: 100%;
    top: 10px;
    z-index: -5;
}

.ex-account {
    position: relative;
}

.ex-account p {
    background-color: rgba(255, 255, 255, 0.41);
}

select:hover {
    color: #444645;
    background: #ddd;
}

.fa-file-text {
    color: #edda39;
}

.mar-top-bot-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.form-group > label{
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #363636;
}