<app-block-loader [blocked]="loader"></app-block-loader>
<div *ngIf="count == 0" class="margen formLogin">
  <h3 class="title text-center">Inicia tu sesión</h3>

  <p class="text-center mt-4 mb-4">Disfruta los servicios de tu seguro.</p>
  <div
    *ngIf="error || errorData"
    class="alert alert-dismissible"
    style="
      background-color: rgba(235, 34, 48, 0.04);
      border: solid 1px #d0021b;
    "
  >
    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
    <i class="text-danger icon fas fa-exclamation-triangle"></i>
    {{ message }}
  </div>
  <div
    *ngIf="error || (errorData && bloqueado)"
    class="alert alert-dismissible"
    style="
      background-color: rgba(235, 34, 48, 0.04);
      border: solid 1px #d0021b;
    "
  >
    <i class="text-danger icon fas fa-exclamation-triangle"></i>
    {{ message }}. Si olvidaste tu contraseña,
    <span
      (click)="pass()"
      style="color: #ec1c24; text-decoration: underline; cursor: pointer;"
      >reestablecela aqui</span
    >.
  </div>
  <form (ngsubmit)="sendForm($event)">
    <div class="form-group">
      <label for="numeroDocumento">Documento de identidad</label>
      <input
        [ngClass]="{
          'is-invalid': error
        }"
        [(ngModel)]="form.usuario"
        min="0"
        id="numeroDocumento"
        name="numeroDocumento"
        class="form-control"
        type="number"
        placeholder="Ingresa tu número de documento"
        required
      />
      <p *ngIf="error" class="text-danger">Ingresa un número</p>
    </div>

    <!-- Password input-->
    <!-- <div class="form-group">
            <label class="col-md-12 control-label" for="passwordinput">Password <span id="popover-password-top" class="hide pull-right block-help"><i class="fa fa-info-circle text-danger" aria-hidden="true"></i></span></label>
            <div class="col-md-12">
                <input id="password"  [(ngModel)]="form.password" (keyup)="onKeyUp($event)" name="password" type="password" placeholder="" class="form-control input-md" >
                <div id="popover-password">
                    <p></p>
                    <div class="progress">
                        <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                    </div>
                    <p><span style="font-size: 12px" id="result"> </span></p>
                    <ul class="list-unstyled">
                        <li class=""><span class="low-upper-case"><i class="fa fa-file-text" aria-hidden="true"></i></span>&nbsp; 1 lowercase &amp; 1 uppercase</li>
                        <li class=""><span class="one-number"><i class="fa fa-file-text" aria-hidden="true"></i></span> &nbsp;1 number (0-9)</li>
                        <li class=""><span class="one-special-char"><i class="fa fa-file-text" aria-hidden="true"></i></span> &nbsp;1 Special Character (!@#$%^&*).</li>
                        <li class=""><span class="eight-character"><i class="fa fa-file-text" aria-hidden="true"></i></span>&nbsp; Atleast 8 Character</li>
                    </ul>
                </div>
            </div>
        </div> -->
    <!-- Password input-->

    <div class="form-group">
      <label for="password">Contraseña</label>
      <div class="input-group-append">
        <input
          [ngClass]="{
            'is-invalid': error
          }"
          [(ngModel)]="form.password"
          (keyup)="onKeyUp($event)"
          (focus)="muestraStrength = 1"
          (focusout)="muestraStrength = 0"
          id="password"
          name="password"
          class="form-control"
          type="password"
          placeholder="Ingresa tu contraseña"
        />

        <div class="input-group-text">
          <i *ngIf="eye" (click)="showEye()" class="fa fa-eye"></i>
          <i *ngIf="!eye" (click)="showEye()" class="fa fa-eye-slash"></i>
        </div>
      </div>
      <p *ngIf="error" class="text-danger">Ingresa una contraseña</p>
      <!-- <div id="popover-password" *ngIf="muestraStrength==1 || form.password!=''">
                <p></p>
                <div class="progress">
                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    </div>
                </div>
                <p><span style="font-size: 12px" id="result"> </span></p>
            </div> -->
    </div>
    <re-captcha
      #captchaRef="reCaptcha"
      size="invisible"
      siteKey="6Ld38qMZAAAAAAMXe0j_fzwOiWWk8ohhhDdF6_bn"
      (resolved)="sendForm($event)"
    ></re-captcha>
    <button id="captchaResetL" (click)="captchaRef.reset()" class="d-none">
      Reset
    </button>
    <div class="form-group text-center">
      <button
        class="btn-block btnMain mt-4"
        (click)="captchaRef.execute()"
        type="submit"
      >
        Inicia sesión
      </button>
    </div>
    <p>
      <button
        (click)="pass()"
        class="mt-2 btn btn-link btn-block mt-2 btnOlvidoContrasena"
      >
        <span style="color: #ec1c24; text-decoration: underline;"
          >¿Olvidaste tu contraseña?</span
        >
      </button>
    </p>
    <p class="text-center mt-2">
      ¿Aún no tienes una cuenta?
      <a routerLink="/register/2"
        ><span style="color: #ec1c24; text-decoration: underline;"
          >Regístrate aquí</span
        ></a
      >
    </p>
  </form>
</div>

<div *ngIf="count == 1" class="margen">
  <h3 class="Olvidaste-tu-contra" style="position: center;" > ¿Olvidaste tu contraseña?</h3>

  <p class="text-center texto-plano mt-4">
    No hay problema. Ingresa tu número de DNI. La información para recuperar tu contraseña será enviada a tu celular y correo electrónico registrado.
  </p>
  <div
    *ngIf="false"
    class="alert alert-dismissible"
    style="
      background-color: rgba(235, 34, 48, 0.04);
      border: solid 1px #d0021b;
    "
  >
    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
    <i class="text-danger icon fas fa-exclamation-triangle"></i>
    {{ message }}
  </div>
  <form action="">
    <div
      *ngIf="error"
      class="alert alert-dismissible"
      style="
        background-color: rgba(235, 34, 48, 0.04);
        border: solid 1px #d0021b;
      "
    >
      <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
      <i class="text-danger icon fas fa-exclamation-triangle"></i>
      {{ message }}
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Número de documento</label>
      <input
        [ngClass]="{
          'is-invalid': error
        }"
        [(ngModel)]="recovery.identificacion"
        id="numeroDocumento"
        name="numeroDocumento"
        class="form-control"
        type="number"
        placeholder="Ingresa tu número de documento"
      />
      <p *ngIf="errorNum" class="text-danger">Ingresa un número</p>
    </div>
    <re-captcha
      #captchaRef="reCaptcha"
      size="invisible"
      siteKey="6Ld38qMZAAAAAAMXe0j_fzwOiWWk8ohhhDdF6_bn"
      (resolved)="validateRecovery($event)"
    ></re-captcha>
    <button id="captchaResetRC" (click)="captchaRef.reset()" class="d-none">
      Reset
    </button>
    <div class="form-group text-center">
      <button
        (click)="captchaRef.execute()"
        class="btn-block btnMain"
        type="submit"
      >
        Enviar
      </button>
      <br />
      <button
        (click)="goback()"
        class="mt-2 btn btn-link btn-block"
        style="color: #ec1c24;"
      >
        <i class="fas fa-chevron-left"></i> Volver
      </button>
    </div>
  </form>
</div>

<div *ngIf="count == 2" class="margen">
  <h3 class="title text-center titLogin">Código de verificación</h3>

  <p class="text-center texto-plano mt-4">
    Ingresa tu código de verificación que se ha enviado a tu telefono celular o
    correo electrónico para recuperar la contraseña.
  </p>
  <div
    *ngIf="error"
    class="alert alert-dismissible"
    style="
      background-color: rgba(235, 34, 48, 0.04);
      border: solid 1px #d0021b;
    "
  >
    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
    <i class="text-danger icon fas fa-exclamation-triangle"></i>
    {{ message }}
  </div>
  <form action="">
    <div class="form-group">
      <label>Código</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
        </div>
        <input
          [ngClass]="{
            'is-invalid':
              error ||
              (recoveryCode.code.length > 0 && recoveryCode.code.length < 6),
            'is-valid': recoveryCode.code.length == 6
          }"
          [(ngModel)]="recoveryCode.code"
          id="password"
          name="password"
          class="form-control"
          type="text"
          placeholder="Ingresa tu código"
          maxlength="6"
        />
        <p *ngIf="error" class="text-danger">Ingresa tu código</p>
      </div>
    </div>
    <re-captcha
      #captchaRef="reCaptcha"
      size="invisible"
      siteKey="6Ld38qMZAAAAAAMXe0j_fzwOiWWk8ohhhDdF6_bn"
      (resolved)="validateCode($event)"
    ></re-captcha>
    <button id="captchaResetCode" (click)="captchaRef.reset()" class="d-none">
      Reset
    </button>
    <div class="form-group text-center">
      <button
        (click)="captchaRef.execute()"
        class="btn-block btnMain"
        type="submit"
      >
        Validar
      </button>
    </div>
  </form>
</div>

<div *ngIf="count == 3" class="margen">
  <h3 class="title text-center titLogin">Reestablecer contraseña</h3>

  <p class="text-center texto-plano mt-4">
    Ingresa tu nueva contraseña para activar tu sesión.
  </p>
  <div
    *ngIf="error || passwordConfirmBool || passwordBool"
    class="alert alert-dismissible"
    style="
      background-color: rgba(235, 34, 48, 0.04);
      border: solid 1px #d0021b;
    "
  >
    <i class="text-danger icon fas fa-exclamation-triangle"></i>
    {{ message }}
  </div>
  <form action="">
    <div class="form-group">
      <label for="password"> Nueva Contraseña</label>
      <input
        [ngClass]="{
          'is-invalid': passwordBool
        }"
        [(ngModel)]="passwords.password"
        (keyup)="onKeyUp2($event)"
        id="password"
        name="password"
        class="form-control"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
      <p *ngIf="passwordBool" class="text-danger">Ingresa tu contraseña</p>
      <div id="popover-password">
        <p></p>
        <div class="progress">
          <div
            id="password-strength"
            class="progress-bar progress-bar-success"
            role="progressbar"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 0%;"
          ></div>
        </div>
        <p><span style="font-size: 12px;" id="result"> </span></p>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm">Repetir Nueva contraseña</label>
      <input
        [ngClass]="{
          'is-invalid': passwordConfirmBool
        }"
        [(ngModel)]="passwords.passwordConfirm"
        (keyup)="onKeyUp2($event)"
        id="passwordConfirm"
        name="passwordConfirm"
        class="form-control"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
      <p *ngIf="passwordConfirmBool" class="text-danger">
        Ingresa tu contraseña
      </p>
      <div id="popover-password2">
        <p></p>
        <div class="progress">
          <div
            id="password-strength2"
            class="progress-bar2 progress-bar-success"
            role="progressbar"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 0%;"
          ></div>
        </div>
        <p><span style="font-size: 12px;" id="result2"> </span></p>
      </div>
    </div>
    <re-captcha
      #captchaRef="reCaptcha"
      size="invisible"
      siteKey="6Ld38qMZAAAAAAMXe0j_fzwOiWWk8ohhhDdF6_bn"
      (resolved)="validatePasswords($event)"
    ></re-captcha>
    <button id="captchaResetPass" (click)="captchaRef.reset()" class="d-none">
      Reset
    </button>
    <div class="form-group text-center">
      <button
        (click)="captchaRef.execute()"
        class="btn-block btnMain"
        type="submit"
      >
        Cambiar contraseña
      </button>
    </div>
  </form>
</div>

<div *ngIf="count == 4" class="margen">
  <h5 class="text-center">Reestablecer contraseña</h5>
  <br />
  <div class="col-md-12 alert alert-success VTSSuccess mb-5" role="alert">
    <i class="fas fa-check" style="color: #00915a;"></i>
    <p class="text-center" style="font-size: 14px;">
      La contraseña se ha modificado correctamente
    </p>
    <p
      type="buttom"
      routerLink="/home"
      class="text-left"
      style="text-decoration: underline;"
    >
      <span style="color: green;">Inicia tu sesión aquí</span>
    </p>
  </div>
</div>
