<div style="width:100%;height:300px;background-color:#7849b8;position:absolute;margin-top: -39px">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
        <div style="margin-left: 17.7%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/preparar-entrevistas" class="crumbModulo">Prepara entrevistas > </span>
            <span routerLink="/prueba-psicologica" class="crumbModulo">Quiero prepararme > </span>
            <span routerLink="/prueba-psicologica-scheduling">Agenda</span>
        </div>
        <div class="col-lg-10 col-md-6 offset-md-1 col-sm-12 offset-sm-0">
            <h1 class="tituloModulo">Entrénate para entrevistas</h1>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row" style="padding-top: 130px">
            <div class="col-lg-1 col-md-2 col-sm-0"></div>
            <div class="col-lg-10 col-md-8 col-sm-12 pb-5 mt-5">
                <div class="card card-outline">
                    <div class="card-footer" style="padding: 50px;background-color: white;">
                        <div>
                            <h3 class="mb-5">Agenda una simulación de entrevista. </h3>
                            <p class="mb-5">
                                Agenda una simulación para tus entrevistas, asi podrás estar más preparado y encontrar
                                mejores herramientas para
                                tus futuros procesos de selección.
                            </p>
                            <p class="mb-5">Para prestarte un servicio adecuado por favor responde las siguientes
                                preguntas:</p>
                            <app-scheduling typeSchedule="2024" module="Entrevista"></app-scheduling>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>