.btnTopCierraModal {
  border: 0px;
  border-radius: 50px;
  font-size: px;
  /* color: white; */
  padding: 0px;
  width: 44px;
  height: 44px;
  margin-top: 5px;
  color: #034797;
  font-size: 20px;
  cursor: pointer;
}