<div style="width:100%;height:300px;
background-color: #009dd6;
position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/salud-financiera" class="crumbModulo">Salud financiera > </span>
            <span routerLink="/salud-financiera-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <h1 class="tituloModulo pad-tit">Salud Financiera</h1>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
        <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
<div class="row">
    <div class="container mb-3">
        <a routerLink="/salud-financiera-ejercicios" class="btn-volver manito Volver" role="button" style="color: #008ACC;"><i
                class="fas fa-chevron-circle-left"></i> Volver</a>
      </div>
    <p class="text-center col-lg-10  offset-lg-1 mt-3 mb-4 font-weight-bold">Mide los conocimientos sobre
        el
        valor del dinero en el tiempo, intereses pagados,
        cálculo de interés simple y compuesto, riesgos, inversiones, inflación y
        diversificación.</p>

    <div class="col-lg-10  offset-lg-1 offset-md-0 col-md-12">
        <div class="form-group">
            <label>Imaginate que 5 hermanos reciben un regalo de S/.1.000 soles. Si los
                hermanos tienen que compartir el dinero por igual, ¿cuánto recibe cada uno?
            </label>
            <input type="number" [(ngModel)]="s8s1p1" class="form-control" />
        </div>
        <div class="form-group">
            <label>
                Ahora imaginate que los hermanos tienen que esperar un año para obtener su
                parte
                de los S/.1.000 soles y la
                inflación se mantiene en cinco por ciento (5%) anual. Luego de un año,
                ¿ellos
                van a poder comprar…?
            </label>
            <div class="form-group form-check">
                <input type="radio" name="s8s1p2" class="form-check-input mt-3" id="test10radio2_1"
                    value="MÁS (+) con su parte del dinero de lo que podrían comprar hoy">
                <label class="form-check-label mt-2" for="test10radio2_1">&nbsp; MÁS (+) con su
                    parte
                    del dinero de lo que podrían
                    comprar hoy</label>
                <br>
                <input type="radio" name="s8s1p2" class="form-check-input mt-3" id="test10radio2_2"
                    value="La MISMA (=) cantidad de lo que podrían comprar hoy">
                <label class="form-check-label mt-2" for="test10radio2_2">&nbsp;La MISMA (=)
                    cantidad
                    de lo que podrían comprar
                    hoy</label>
                <br>
                <input type="radio" name="s8s1p2" class="form-check-input mt-3" id="test10radio2_3"
                    value="MENOS (-) de lo que podrían comprar hoy">
                <label class="form-check-label mt-2" for="test10radio2_3">&nbsp;MENOS (-) de lo
                    que
                    podrían comprar hoy
                </label>
                <br>
                <input type="radio" name="s8s1p2" class="form-check-input mt-3" id="test10radio2_4" value="NO SE">
                <label class="form-check-label mt-2" for="test10radio2_4">&nbsp;NO SÉ</label>

            </div>
        </div>
        <br><br>
        <hr style="width: 80%">
        <br><br>
        <div class="form-group">
            <label>
                Imaginate que tu le prestaste S/.200 soles a un amigo una noche y él te
                devolvió estos S/.200 soles al día siguiente. ¿Tu amigo pagó algún interés
                por este préstamo?
            </label>
            <div class="form-group form-check">
                <input type="radio" name="s8s1p3" class="form-check-input mt-3" id="test8radio3_1"
                    value="Si pago interés">
                <label class="form-check-label mt-2" for="test8radio3_1">&nbsp;Si pagó
                    interés</label>
                <br>
                <input type="radio" name="s8s1p3" class="form-check-input mt-3" id="test8radio3_2"
                    value="NO pago interés">
                <label class="form-check-label mt-2" for="test8radio3_2">&nbsp;NO pagó
                    interés</label>
                <br>
                <input type="radio" name="s8s1p3" class="form-check-input mt-3" id="test8radio3_3" value="NO SE">
                <label class="form-check-label mt-2" for="test8radio3_3">&nbsp;NO SÉ
                </label>

            </div>
        </div>
        <div class="form-group">
            <label>Supongamos que tu pones S/.100 soles en una cuenta de ahorros con una
                tasa
                de interés de dos por ciento (2%) por año. Tu no realizas ningún otro abono
                en
                esta cuenta y no retiras dinero. ¿Cuánto habría en la cuenta al final del
                primer
                año, una vez que se realiza el pago de intereses?
            </label>
            <input type="number" [(ngModel)]="s8s1p4" class="form-control" />
        </div>
        <br><br>
        <hr style="width: 80%;">
        <br><br>
        <div class="form-group">
            <label>
                ¿Y con la misma tasa de interés de dos por ciento (2%) por año, cuánto
                tendría
                la cuenta al final de 5 años? Sería… *
            </label>
            <div class="form-group form-check">
                <input type="radio" name="s8s1p5" class="form-check-input mt-3" id="test8radio5_1"
                    value="Más de 110 soles">
                <label class="form-check-label mt-2" for="test8radio5_1">&nbsp; Más de 110
                    soles</label>
                <br>
                <input type="radio" name="s8s1p5" class="form-check-input mt-3" id="test8radio5_2"
                    value="Exactamente 110 soles">
                <label class="form-check-label mt-2" for="test8radio5_2">&nbsp;Exactamente 110
                    soles</label>
                <br>
                <input type="radio" name="s8s1p5" class="form-check-input mt-3" id="test8radio5_3"
                    value="Menos de 110 soles">
                <label class="form-check-label mt-2" for="test8radio5_3">&nbsp;Menos de 110
                    soles
                </label>
                <br>
                <input type="radio" name="s8s1p5" class="form-check-input mt-3" id="test8radio5_4" value="No se">
                <label class="form-check-label mt-2" for="test8radio5_4">&nbsp;No sé
                </label>

            </div>
        </div>
        <br><br>
        <hr style="width: 80%">
        <br><br>
        <div class="form-group">
            <label>Indica para cada afirmación si consideras si es verdadera o falsa</label>
            <table class="table table-bordered table-striped" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th class="col-3"></th>
                        <th class="col-3"><label>Verdadero</label></th>
                        <th class="col-3"><label>Falso</label></th>
                        <th class="col-3" style="text-align: center;"><label style="width:50px">No sé</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cuando se invierte mucho dinero, también existe la posibilidad
                            de
                            que se pierda mucho dinero</td>
                        <td class="tdR" style="text-align: center;">
                            <input type="radio" name="s8s1p6t1" class="" id="test8radio6_4_1" value="Verdadero"><label
                                for="test8radio6_4_1"></label></td>
                        <td class="tdR" style="text-align: center;">
                            <input type="radio" name="s8s1p6t1" class="" id="test8radio6_4_2" value="Falso"><label
                                for="test8radio6_4_2"></label></td>
                        <td class="tdR" style="text-align: center;">
                            <input type="radio" name="s8s1p6t1" class="" id="test8radio6_4_3" value="No se"><label
                                for="test8radio6_4_3"></label></td>
                    </tr>
                    <tr>
                        <td>Una alta inflación significa que el costo de vida está
                            aumentando rápidamente</td>
                        <td class="tdR">
                            <input type="radio" name="s8s1p6t2" class="" id="test8radio6_4_4" value="Verdadero"><label
                                for="test8radio6_4_4"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s8s1p6t2" class="" id="test8radio6_4_5" value="Falso"><label
                                for="test8radio6_4_5"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s8s1p6t2" class="" id="test8radio6_4_6" value="No se"><label
                                for="test8radio6_4_6"></label></td>
                    </tr>
                    <tr>
                        <td>Es menos probable que usted pierda todo su dinero si lo invierte
                            en
                            más de un lugar</td>
                        <td class="tdR">
                            <input type="radio" name="s8s1p6t3" class="" id="test8radio6_7" value="Verdadero"><label
                                for="test8radio6_4_7"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s8s1p6t3" class="" id="test8radio6_8" value="Falso"><label
                                for="test8radio6_4_8"></label></td>
                        <td class="tdR">
                            <input type="radio" name="s8s1p6t3" class="" id="test8radio6_9" value="No se"><label
                                for="test8radio6_4_9"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center" style="width:100%">
        <button style="margin: auto" type="submit" (click)="guardarIndicadores1()" routerLink="/salud-financiera-ejercicios"
            class="btn btnTop2 btn-primary mt-4 mb-4">Finalizar cuestionario</button>
    </div>
</div>
</div>
</section>
</section>
</div>
</div>

<!-- EX CODIGO GENERADO SEGÚN ZEPLIN 28JUN 10:10AM -->
<!--
<div style="width:100%;height:300px;
background-color: #009dd6;
position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/salud-financiera" class="crumbModulo">Salud financiera > </span>
            <span routerLink="/salud-financiera-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <h1 class="tituloModulo pad-tit">Tu Salud Financiera</h1>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
        <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
<div class="row">
    <div class="container mb-3">
        <a routerLink="/salud-financiera-ejercicios" class="btn-volver manito Volver" role="button" style="color: #008ACC;"><i
                class="fas fa-chevron-circle-left"></i> Volver</a>
      </div>

      <h2 class="titleTest col-lg-10 offset-lg-1 mt-3 mb-4 "> Evalúa tu salud financiera</h2>
    <p class="text col-lg-10  offset-lg-1 mt-3 mb-4 font-weight-bold">


     <label>  Selecciona el área que más te interese, reponde las preguntas y obtén tu puntaje correspondiente. Para obtener tu score total debes completar todo el cuestionario. </label><br><br>

     <label style="color: red;">  Mitos sobre finanzas personales </label><br><br>

     <label>   En esta sección nos gustaría saber si piensas que las siguientes afirmaciones son verdaderas o falsas. </label>



    </p>

  

    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
        
                <label>
                    Comprar lotería o participar en juegos de azar me hará rico algún día
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p1" class="form-check-input" id="test2radio1_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio1_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p1" class="form-check-input" id="test2radio1_2" value="Falso">
                    <label class="form-check-label" for="test2radio1_2">Falso</label>
                </div>
                </div>
            </div>
<br><br>
<div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
    <div class="form-group">
                <label>
                    El ahorro es lo que sobra después de pagar las cuentas y gastos del mes: Ahorro = Ingresos - Egresos
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p12" class="form-check-input" id="test2radio12_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio12_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p12" class="form-check-input" id="test2radio12_2" value="Falso">
                    <label class="form-check-label" for="test2radio12_2">Falso</label>
                </div>
            </div>
        </div>
                <br><br> 
                
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    Ser codeudor o fiador de un familiar o amigo es una buena idea
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p2" class="form-check-input" id="test2radio2_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio2_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p2" class="form-check-input" id="test2radio2_2" value="Falso">
                    <label class="form-check-label" for="test2radio2_2">Falso</label>
                </div>
            </div></div>

                <br><br>

                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                
                <label>
                    Si quiero tener carro y renovarlo cada 4 o 5 años siempre tendré que recurrir a un préstamo
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p3" class="form-check-input" id="test2radio3_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio3_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p3" class="form-check-input" id="test2radio3_2" value="Falso">
                    <label class="form-check-label" for="test2radio3_2">Falso</label>
                </div>
            </div></div>
                <br><br>
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    Un crédito o una tarjeta de crédito son la fuente ideal de dinero en casos de emergencias o imprevistos
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p4" class="form-check-input" id="test2radio4_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio4_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p4" class="form-check-input" id="test2radio4_2" value="Falso">
                    <label class="form-check-label" for="test2radio4_2">Falso</label>
                </div>
            </div></div>
                <br><br>

                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    Consolidar las deudas por medio de la compra de cartera es una excelente estrategia para reducirlas, ya que al alargar el plazo la tasa de interés disminuye
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p5" class="form-check-input" id="test2radio5_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio5_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p5" class="form-check-input" id="test2radio5_2" value="Falso">
                    <label class="form-check-label" for="test2radio5_2">Falso</label>
                </div>
            </div></div>
                <br><br>
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    Hoy en día para poder ahorrar debo tener ingresos altos
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p6" class="form-check-input" id="test2radio6_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio6_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p6" class="form-check-input" id="test2radio6_2" value="Falso">
                    <label class="form-check-label" for="test2radio6_2">Falso</label>
                </div>
            </div></div>
                <br><br>
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    La gente mas inteligente y sofisticada compra sus carros o inmuebles usando un leasing (arriendo financiero)
                                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p7" class="form-check-input" id="test2radio7_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio7_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p7" class="form-check-input" id="test2radio7_2" value="Falso">
                    <label class="form-check-label" for="test2radio7_2">Falso</label>
                </div>
            </div></div>
                <br><br>
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    La deuda es una herramienta necesaria para crear riqueza y prosperidad                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p8" class="form-check-input" id="test2radio8_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio8_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p8" class="form-check-input" id="test2radio8_2" value="Falso">
                    <label class="form-check-label" for="test2radio8_2">Falso</label>
                </div>
            </div></div>
                <br><br>
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    La manera más inteligente y segura de pagar todos mis gastos y consumos es usando siempre la tarjeta de crédito a 1 cuota
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p10" class="form-check-input" id="test2radio10_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio10_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p10" class="form-check-input" id="test2radio10_2" value="Falso">
                    <label class="form-check-label" for="test2radio10_2">Falso</label>
                </div>
            </div></div>
                <br><br>
                <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
                    <div class="form-group">
                <label>
                    En los últimos 12 meses me ha ocurrido que mis ingresos no me han alcanzado para cubrir los gastos personales del hogar
                </label>
                <div class="form-group form-check">
                    <input type="radio" name="s2s2p11" class="form-check-input" id="test2radio11_1" value="Verdadero">
                    <label class="form-check-label" for="test2radio11_1">Verdadero</label>
                    <br>
                    <input type="radio" name="s2s2p11" class="form-check-input" id="test2radio11_2" value="Falso">
                    <label class="form-check-label" for="test2radio11_2">Falso</label>
                </div>
            </div></div>
              
          
    <div class="text-center" style="width:100%">
        <button style="margin: auto" type="submit" (click)="guardarIndicadores1()" routerLink="/salud-financiera-ejercicios"
            class="btn btnTop2 btn-primary mt-4 mb-4">Finalizar </button>
    </div>
</div>
</div>
</section>
</section>
</div>
</div>

-->