.tituloInteres{
    font-family: OpenSans;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #034797;
}
.containerIntereses{
    min-height: 270px;
    background-color: #f6f8fa;
}
.cardInteres{
    border-radius: 6px;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 241px;
    max-width: 302px;
}
.cardInteres > .card-body > h4{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #555a60;
}
.cardInteres > .card-body > .card-text{
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #9b9b9b;
}
.linkConoceMas{
    border-top: 1px solid lightgray;
    margin-top: -30px;
    padding-top: 15px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #5e5e5e;
    cursor:pointer;
}
.imgInteres{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 167px;
}
@media only screen and (max-width: 769px) {


    .tituloInteres{
        text-align: center;
    }

    .cardInteres{
        margin:auto !important;
    }

}

.card-title {
    min-height: 0px;
}