<div>
  <div style="width:100%;height:300px; background-color: #fb6330;position:absolute;margin-top: -39px;">
    <div
      style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
      <div style="margin-left: 17.8%;">
        <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
        <span routerLink="/branding-digital" class="crumbModulo">Branding digital > </span>
        <span routerLink="/branding-digital-servicio" class="crumbModulo"><b>Servicio</b></span>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 offset-md-1 col-sm-12 offset-sm-0"></div>
    <div class="col-lg-10 col-md-6 offset-md-1 col-sm-12 offset-sm-0">
      <h1 class="tituloModulo">Branding digital</h1>
    </div>
  </div>
  <div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
      <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
        <section class="cardsPerfil mb-5">
          <div class="card mb-3" style="border:1px solid lightgray !important">
            <div class="row">
              <div class="col-12" style="padding:6%">
                <p class="pCabeceraModulo">
                ¿Tienes una marca o idea de negocio, pero no sabes cómo impulsarla? No te preocupes, con nuestra
                consultoría en branding digital, tu marca o idea crecerá</p>
                <p class="pCabeceraModulo"> Si quieres potenciar tu idea, marca o emprendimiento, tienes la oportunidad
                  de aprender cómo, cuando y por qué.</p>

                <p class="pCabeceraModulo">
                  <strong>Importante</strong>: La consultoría es prestada por Doctor Marketing, empresa especializada
                  en
                  desarrollo de marca e identidad corporativa.
                </p>
                <div class="text-center">
                  <button style="margin: auto" type="button" routerLink="/branding-digital-formulario" class="btnMain">
                    Programar mi asesoría &nbsp;&nbsp;
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>