<div style="width:100%;height:300px;
background-color: #009dd6;
position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/salud-financiera" class="crumbModulo">Salud financiera > </span>
            <span routerLink="/salud-financiera-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <h1 class="tituloModulo pad-tit">Tu salud financiera.</h1>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <div class="mt-5">
        <section class="col-8 offset-2 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
<div class="row">
    <div class="container mb-3">
        <a routerLink="/salud-financiera-ejercicios" class="btn-volver manito Volver" role="button" style="color: #008ACC;"><i
                class="fas fa-chevron-circle-left"></i> Volver</a>
      </div>

      <p class="text-center col-lg-12 mt-3 mb-4 font-weight-bold">Evalúa el tener un plan para
        cubrir los gastos de la vejez, pudiendo mantener el mismo nivel de vida actual.</p>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>
                ¿Qué plan de jubilación tienes?
            </label>
            <div class="form-group form-check">
                <input type="radio" name="s7s1p1" class="form-check-input mt-3" id="test7radio1_1"
                    value="Únicamente los aportes a mi pensión obligatoria">
                <label class="form-check-label mt-2" for="test7radio1_1">&nbsp;Únicamente los
                    aportes a mi pensión obligatoria</label>
                <br>
                <input type="radio" name="s7s1p1" class="form-check-input mt-3" id="test7radio1_2"
                    value="Aportes a pensión obligatoria y voluntaria">
                <label class="form-check-label mt-2" for="test7radio1_2">&nbsp;Aportes a pensión
                    obligatoria y voluntaria</label>
                <br>
                <input type="radio" name="s7s1p1" class="form-check-input mt-3" id="test7radio1_3"
                    value="Aportes a pensión obligatoria junto con diferentes esquemas de ahorro e inversión">
                <label class="form-check-label mt-2" for="test7radio1_3">&nbsp;Aportes a pensión
                    obligatoria junto con diferentes esquemas de ahorro e inversión</label>

            </div>
        </div>
    </div>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>
                ¿Has estimado que nivel de ingresos mensuales tendrás cuando te llegue el
                momento de tu pensión de jubilación?
            </label>
            <div class="form-group form-check">
                <input type="radio" name="s7s1p2" class="form-check-input mt-3" id="test7radio2_1" value="No se">
                <label class="form-check-label mt-2" for="test7radio2_1">No se</label>
                <br>
                <input type="radio" name="s7s1p2" class="form-check-input mt-3" id="test7radio2_2"
                    value="Equivalente al que hoy tengo">
                <label class="form-check-label mt-2" for="test7radio2_2">Equivalente al que
                    hoy
                    tengo</label>
                <br>
                <input type="radio" name="s7s1p2" class="form-check-input mt-3" id="test7radio2_3"
                    value="Inferior al que hoy tengo">
                <label class="form-check-label mt-2" for="test7radio2_3">No tendrían un plan
                    de
                    respaldo, ni ahorros ni bienes para vender, pero mi familia o amigos se
                    harían cargo de ellos</label>
                <br>
                <input type="radio" name="s7s1p2" class="form-check-input mt-3" id="test7radio2_4"
                    value="Superior al que hoy tengo">
                <label class="form-check-label mt-2" for="test7radio2_4">Superior al que hoy
                    tengo</label>
            </div>
        </div>
    </div>
    <!---
      <h2 class="titleTest col-lg-10 offset-lg-1 mt-3 mb-4 "> Evalúa tu salud financiera</h2>
    <p class="text col-lg-12 mt-3 mb-4 font-weight-bold">
        <label >
            Selecciona el área que más te interese, reponde las preguntas y obtén tu puntaje correspondiente. Para obtener tu score total debes completar todo el cuestionario.</label><br><br>
        <label style="color: red;">Jubilación</label>
    </p>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12" style="position:relative;">
        <div class="form-group">
            <label>
                ¿Qué plan de jubilación tienes?
            </label>
            <select class="form-control mt-2" [(ngModel)]="s7s1p1">   
                <option value="">Selecciona tu respuesta* </option>
                <option value="Únicamente los
                aportes a mi pensión obligatoria">Únicamente los
                    aportes a mi pensión obligatoria
                </option>
                <option value="Aportes a pensión
                obligatoria y voluntaria">Aportes a pensión
                    obligatoria y voluntaria</option>
                <option value="Aportes a pensión
                obligatoria junto con diferentes esquemas de ahorro e inversión">Aportes a pensión
                    obligatoria junto con diferentes esquemas de ahorro e inversión</option>
                
            </select>
        </div>
    </div>
    <div class="col-lg-8 offset-lg-2 offset-md-0 col-md-12">
        <div class="form-group">
            <label>
                ¿Has estimado que nivel de ingresos mensuales tendrás cuando te llegue el
                momento de tu pensión de jubilación?
            </label>

            <select class="form-control mt-2" [(ngModel)]="s7s1p2">
                <option value="">Selecciona tu respuesta* </option>
                <option value="No se">No se
                </option>
                <option value=">Equivalente al que
                    hoy
                    tengo">Equivalente al que
                    hoy
                    tengo</option>
                <option value="No tendrían un plan
                de
                respaldo, ni ahorros ni bienes para vender, pero mi familia o amigos se
                harían cargo de ellos">No tendrían un plan
                    de
                    respaldo, ni ahorros ni bienes para vender, pero mi familia o amigos se
                    harían cargo de ellos</option>
                <option value="Superior al que hoy
                tengo">Superior al que hoy
                    tengo</option>
              
            </select>

        </div>
    </div>-->
    <div class="text-center" style="width:100%">
        <button style="margin: auto" type="submit" (click)="guardarIndicador6()" routerLink="/salud-financiera-ejercicios"
            class="btn btnTop2 btn-primary mt-4 mb-4">Finalizar cuestionario</button>
    </div>
</div>
</div>
</section>
</section>
</div>
</div>