<div style="width:100%;height:300px;
            background-color: #7849b8;
            position:absolute;margin-top: -39px;">
    <div
        style="width:100%;height:40px;background-color: rgba(0,0,0,0.1);margin-top: 39px;color: white;padding-top: 5px;">
        <div style="margin-left: 17.8%;">
            <span routerLink="/inicio" class="crumbModulo">Inicio > </span>
            <span routerLink="/estudia-economia" class="crumbModulo">Cursos financieros > </span>
            <span routerLink="/estudia-economia-servicio" class="crumbModulo"><b>Servicio</b></span>
        </div>
    </div>
    <div class="col-lg-10 col-md-6 offset-md-1 col-sm-12 offset-sm-0">
        <h1 class="tituloModulo">Tus cursos de finanzas personales </h1>
    </div>
</div>
<div class="content" style="padding-top: 130px;background-color: #f6f8fa">
    <!-- <div class="mt-5">
        <section class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 col-sm-12 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
                    <div class="row">
                        <div class="col-12" style="padding:6%">
                            <p class="pCabeceraModulo">
                                Los cursos te permitirán administrar tus finanzas de forma adecuada y responsable. A
                                través de diferentes módulos aprende cómo alcanzar tus metas y conviértete en un
                                verdadero genio financiero.
                            </p>
                            <div class="text-center">
                                <button style="margin: auto" type="submit" routerLink="/economy-study-excercice"
                                    class="btnMain mt-4 mb-4">Ingresar a los cursos
                                    &nbsp;&nbsp;<i style="color: #ffb400" class="fa fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div> -->
    <div class="mt-5">
        <section class="col-lg-8 col-md-10 offset-lg-2 offset-md-1 col-sm-12 accordionPerfil pb-5 sectionVTS">
            <section class="cardsPerfil mb-5">
                <div class="card mb-3" style="border:1px solid lightgray !important;padding:6%">
                    <div class="row">
                        <div class="col-12">
                            <p class="pCabeceraModulo">
                                Aprende a administrar tus finanzas de una forma equilibrada. Por medio de módulos de
                                aprendizaje personalizados a tu medida.
                            </p>
                            <p>
                                Aquí puedes elegir tus cursos personalizados para administrar tu vida financiera de
                                manera inteligente

                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 mt-3">
                                    <div class="card resumenLittleVTS">
                                        <img class="card-img logoEmpresa"
                                            src="https://assets.entrepreneur.com/content/3x2/2000/20170808153808-contabilidad-finanzasparalaempresa.jpeg?width=700&crop=2:1"
                                            alt="Logo ">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <h5 class="card-title tituloEmpresa d-block mb-0 pb-0">
                                                    Curso ¡Ahorra o nunca!
                                                </h5>
                                                <p></p>
                                                <p> Adquiere nuevos hábitos financieros que te permitan tomar
                                                    conciencia sobre tu futuro</p>
                                                <p><strong>Básico &nbsp;&nbsp;<i class="far fa-clock"></i></strong>
                                                    15 min.</p>
                                            </div>
                                        </div>
                                        <div class="card-body text-center">
                                            <!-- {{evento.descripcionEvento}} -->
                                            <button type="submit" class="btnMain2" data-toggle="modal" style=" color: white; background-color: red;"
                                                data-target="#exampleModal" routerLink="/estudia-economia-ejercicio">
                                                Comenzar curso
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>