.tituloEmpresa{
    font-family: GoogleSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #ec1c24;
}

.logoEmpresa{
    border: solid 1px #e3e3e3;
    background-color: #f9f9f9;
    height: 164px;
    width:100%;
    margin:auto;
}

.resumenLittleVTS{
    border-radius: 4px;
    padding-top: 0px;
    border: solid 1px #cacaca !important;
    background-color: #ffffff;
}